<h1> Contacts </h1>

<p><%= @contact.full_name %></p>
<p> Email:<%= @contact.email %></p>
<p> <%= @contact.friendly_format_date %></p>
<p> Phone Number:<%= @contact.phone_number %></p>
<p> <%= @contact.japan_prefix %></p>
<p> Bio: <%= @contact.bio %></p>
<h3><%= @contact.first_name %> belongs_to:</h3>
<ul>
  <% @contact.group.each do |group| %>
    <li><%= group.name %></li>
  <% end %>
</ul>


<p><%= link_to "Edit your contact", "/contacts/#{@contact.id}/edit" %>
<p><%= link_to "Back", "/contacts" %></p>
<p><%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %></p>
